<pre>
{% if scheme.username %}<span class="username">{{scheme.username}}</span>:{% endif %}<span class="password">{% if scheme.hash.rounds %}{{scheme.hash.ident_values[1]}}<span class="rounds">rounds={{scheme.hash.rounds}}</span>${% else %}{{scheme.hash.ident_values[0]}}{% endif %}<span class="salt">{{scheme.hash.salt}}</span>$$<span class="hash">{{scheme.hash.checksum}}</span></span>{% if scheme.rest %}:{{scheme.rest}}{% endif %}
</pre>
<p class="legend">
	{% if scheme.username %}<span class="username">Username</span>, {% endif %}
	<span class="password">Password</span>, 
	<span class="rounds">Rounds</span>, 
	<span class="salt">Salt</span>, 
	<span class="hash">Checksum</span>
</p>
