<!doctype html>
<html>
<head>
<title>Error</title>
<link rel="stylesheet" type="text/css" href="/static/marx.min.css">
<link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
	<main>
		<h1 class="console"><span class="highlight">/</span>etc<span class="highlight">/</span>shadow<span class="highlight">.pro</span></h1>
		<h2>Error {{code}} {{ error }}</h2>
		<hr/>
		<p>Return to the <a href="/">homepage</a> or <a href="javascript:window.history.back()">go back</a></p>
	</main>
</body>
</html>